@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  background: #FDEEDC;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.CardComponent{
  display: flex;
  margin:10px;
  background-color: #FFD8A9;

  
}
.CardComponent_Title p{
  display: flex;
  font-family: 'Poppins', sans-serif;
  text-decoration: dashed;
  color: #202020;
  text-align: center;

}

.CardComponent_Title {
  padding:10px;
  background-color: #FFD8A9;

  
}
.CardComponent_Title p{
  background-color: #F1A661;
  padding: 10px;
  border: 1px solid #F1A661;
  border-radius: 5px;
}


.link{
  text-decoration: none;
}
.HomeScreen{
  display: flex;
  height: 100vh;
  flex-direction: column;
  
  /* justify-content: center; */
}
.HomeScreen p{
  text-align: center;
  align-items: baseline;
}

.HomeScreen_Cards{
  display: flex;
  
  flex-direction: row;
  align-items: stretch;
  /* background: #E38B29; */
  
}
.card{
  flex: 1;
  width: 50%;
  box-shadow: 1px 1px 5px 1px black ;
  margin: 5px;
  background-color: #FFD8A9;
   


}

.HomeScreen_Title{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 10px;
  border-radius: 10px;
}
.HomeScreen_Title p{
  color: black;
}
.pageDesc_main_content{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.desc_preview{
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px 5px 1px ;
}

.desc_preview p {
  font-family: 'Poppins',sans-serif;
  padding: 10px;
}
.Backbutton{
  display: flex;
  justify-content: center;
}
.Backbutton button{
  margin: 10px;
  font-family: 'Poppins',sans-serif;
}

.CultureScreen, .GeographyScreen,.HistoryScreen,.LanguageScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img_banner {
  display: flex;
  justify-content: center;
  padding: 10px; 
}
.img_banner img{
  width: 50%;  
}
.title{
  text-align: center;
}



@media only screen and (max-width:480px){
  .HomeScreen_Cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card{
    flex: 1;
    width: 90%;
  }
  .CultureScreen, .GeographyScreen,.HistoryScreen,.LanguageScreen {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
  }
  .img_banner img{
    width: 90%;  
  }
  .desc_preview{
    width: 90%;
  }
}